---
import { Image } from 'astro:assets';
// Services.astro - Sección de servicios con iconos de animales

interface TeamMember {
  name: string;
  role: string;
  bio: string;
  image: string;
  linkedin: string;
  github: string;
}

const teamMembers: TeamMember[] = [
  {
    name: "Mateo Bodenlle",
    role: "CFO",
    bio: "Finance and business strategy expert.",
    image: "/logo_w.svg",
    linkedin: "#",
    github: "#"
  },
  {
    name: "Pablo Pazos",
    role: "Software Arquitect",
    bio: "Specialist in scalable architectures.",
    image: "/logo_w.svg",
    linkedin: "#",
    github: "#"
  },
  {
    name: "Diego Cristobal",
    role: "Fullstack developer",
    bio: "Building robust web and mobile apps.",
    image: "/logo_w.svg",
    linkedin: "#",
    github: "#"
  },
  {
    name: "Nicolás Corbal",
    role: "Frontend Developer",
    bio: "UI/UX and frontend technologies.",
    image: "/logo_w.svg",
    linkedin: "#",
    github: "#"
  },
  {
    name: "Juan Freire",
    role: "Backend Developer",
    bio: "API and database specialist.",
    image: "/logo_w.svg",
    linkedin: "#",
    github: "#"
  },
  {
    name: "Nel Raposeiras",
    role: "Cibersecurity expert",
    bio: "Security and infrastructure.",
    image: "/logo_w.svg",
    linkedin: "#",
    github: "#"
  }
];
---

<section id="about" class="w-full h-screen flex items-center bg-white">
  <div class="w-full max-w-7xl mx-auto px-6 md:px-12 py-2 flex flex-col justify-center h-full">
    <h2 class="section-title">
      Our <span class="font-bold">Team</span>
    </h2>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 h-[calc(100vh-15rem)] mt-8">
      {teamMembers.map(member => (
        <div class="relative group bg-black rounded-lg shadow-lg flex flex-col items-center justify-center p-3 transition-transform duration-300 hover:-translate-y-2 cursor-pointer h-full">
          <img src={member.image} alt="OSIX Logo" class="w-16 h-12 mb-4" />
          <h3 class="text-white text-base md:text-lg font-bold mb-2 text-center">{member.name}</h3>
          <p class="text-white text-sm md:text-base text-center">{member.role}</p>
          <div class="absolute inset-0 bg-black bg-opacity-95 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg p-3">
            <p class="text-white text-sm md:text-base text-center mb-4">{member.bio}</p>
            <div class="flex gap-2">
              <a href={member.linkedin} class="text-white hover:text-blue-400"> {/* LinkedIn Icon */} </a>
              <a href={member.github} class="text-white hover:text-gray-400"> {/* GitHub Icon */} </a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>



<style>
  /* Efecto de sombra y transición para las tarjetas */
  .group:hover {
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.18);
  }
</style>